@page
@model Blocktrust.Mediator.Server.Pages.Index


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    @Model.QrCodeModel.OobUrl;
    @Html.Raw(@Model.QrCodeModel.OobSvg)
</div>
<div>
    @Html.Raw(@Model.QrCodeModel.OobSvgSmall)
    @Model.QrCodeModel.OobUrlShort
</div>
<div>
</div>
</body >
</html >